.container {
  display: flex;
}

.img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  /* transform: scale(1); */
  object-fit: contain;
  /* transition-duration: 0.5ms;
  transition-property: opacity; */
  transition-property: opacity, display;
  transition-duration: 0.25s;
}

.action-container {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
